.about-title{
    color: var(--text-color-primary, #291B1A);
    font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Alice;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.about-description{
    color: var(--text-color-secondary, #573A37);
    font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Alice;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.about-information{
    color: var(--text-color-secondary, #573A37);
    font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Alice;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.ingredients-title{
    color: var(--text-color-primary, #291B1A);
    font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Alice;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
}

.ingredients-ul{
    color: var(--text-color-secondary, #573A37);
    font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Alice;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.preparation-title{
    color: var(--text-color-primary, #291B1A);
    font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Alice;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
}

.preparation-description{
    color: var(--text-color-secondary, #573A37);
    font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Alice;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.img-recipe{
    width: auto;
    max-height: 400px;
    object-fit: cover;
    border-radius: 16px;
}

.pagehome{
    backdrop-filter: blur(20px);
    background: #F0E8C2;
    padding: 24px;
    width: 800px;
    display: flex;
    flex-direction: column;
    margin: 48px 0 100px 0;
    border-radius: 24px;
}

body{
    display: flex;
    background: url('assets/bg-image.png') #573824 50% / cover no-repeat ;
    justify-content: center;
    margin: 0;
}

.d-flex{
    display: flex !important;
    flex-direction: column;
}

.margin-0{
    margin: 0;
}
